  <section class="ssave">
    <div class="meta">
      {{user.username}} on {{format_date createdAt}}
    </div>
    <div id="comment_text_div_{{id}}" class="text">
      {{comment_text}}
    </div>
      <textarea minlength="3" style="display: none" name="comment_text_area_{{id}}" id="comment_text_area_{{id}}" cols="30" rows="10">{{comment_text}}</textarea>
      <div class="hero-form">
          <button id="btnEdit_{{id}}" onclick="edit({{id}})">EDIT</button>
          <button id="btnDelete_{{id}}" onclick="del({{id}})">DELETE</button>
      </div>
  </section>