<li>
    <article class="blog-post">
      <container><data postId="{{id}}"></data>
        <row>
          <div class="card">
            <div class="card-header">
              <div class="title"><h2>{{title}}</h2>
                by {{user.username}} on {{format_date createdAt}}
              </div>
                <div class="card-body">
                  <div class="meta">
                    {{this.content_txt}} 
                    {{comments.length}} {{format_plural "comment" comments.length}}
                  </div>
                </div>
            </div>
          </div>
        </row>
      </container>
    </article>