<article>
  <a href="/dashboard"> &larr; Back to dashboard</a>
  <h2>
    Edit Post
  </h2>
  <form class="edit-post-form">
    <div>
      <input name="post-title" type="text" value="{{singlePost.title}}" />
    </div>
    <div>
      <input name="post-content" type="text" value="{{singlePost.content_txt}}" />
    </div>
    <div>
        by you on {{format_date singlePost.createdAt}}
      |
      <a href="/post/{{singlePost.id}}">{{singlePost.commentCount}} {{format_plural "comment" singlePost.commentCount}}</a>
    </div>
    <button class="hero-form" type="submit">Save post</button>
   <button id="btnDeletePost_{{singlePost.id}}" onclick="deletePost({{singlePost.id}})">DELETE</button>
  </form>
</article>

<form class="CHANGE">
  <div>

    <textarea required minlength="3" name="comment-body" id="comment_body"></textarea>

  </div>

  <div>
    <button class="hero-form" id="create-comment-btn">add comment</button>
  </div>
</form>

{{#each postComments as |comments|}}
{{> comments comments}}
    {{/each}}

<script src="/javascript/edit-post.js"></script>
<script src="/javascript/delete-post.js"></script>
<script src="/javascript/comment.js"></script>